@font-face {
    font-family: 'sans';
    src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'source-sans-pro';
    src: url('../font/source-sans-pro/SourceSansPro-Light.otf');
}

@font-face {
    font-family: 'source-sans-pro-bold';
    src: url('../font/source-sans-pro/SourceSansPro-Bold.otf');
}

html,
body {
    font-family: 'source-sans-pro';
    background-color: #09839B;
}


.login-brand {
    margin-top: 100px;
    font-family: 'source-sans-pro-bold';
    font-size: 30px;
    color: white;
    text-align: center;
}

.brand-login {
    margin-top: 100px;
}

.brand-register {
    margin-top: 50px;
}

.box-login {
    margin-top: 10px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 0px 3px 3px 0px;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.login-title {
    font-family: 'source-sans-pro-bold';
    font-size: larger;
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    margin-bottom: 10px;
}

.login-footer {
    text-align: center
}

.btn-login {
    background-color: #D71149;
    color: azure;
    border-radius: 0px;
    width: 100%;

}
