html,
body {
    font-family: "Roboto", sans-serif;
}

.nav-item {
    padding-top: 10px;
    color: #ffffff;
}

.navbar-brand {
    margin-left: 20px;
}

.main-sidebar {
    background-color: #09839b !important;
}

.card {
    box-shadow: 5px 5px 15px #888888;
}

.formbold {
    font-weight: 700;
}

.formpenting {
    font-weight: 700;
    color: #09839b;
}

.multiple-items .slide1 {
    background-image: url("../images/slide1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

.multiple-items .slide2 {
    background-image: url("../images/slide2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
}

.isiSlide {
    padding-left: 5%;
    padding-top: 10%;
}

.slide1 .judulsl1 {
    font-size: 50px;
    font-weight: 900;
    color: #ed6e53;
    margin-bottom: -15px;
    margin-top: -15px;
    padding-bottom: -15px;
    padding-top: -15px;
}

.slide1 .judulsl2 {
    font-size: 50px;
    font-weight: 900;
    color: #09839b;
    margin-bottom: -15px;
    padding-bottom: -15px;
    padding-top: -15px;
    margin-top: -15px;
}

.slide2 .judulsl1 {
    font-size: 50px;
    font-weight: 900;
    color: #ed6e53;
    margin-bottom: -15px;
    margin-top: -15px;
    padding-bottom: -15px;
    padding-top: -15px;
}

.slide2 .judulsl2 {
    font-size: 50px;
    font-weight: 900;
    color: #09839b;
    margin-bottom: -15px;
    padding-bottom: -15px;
    padding-top: -15px;
    margin-top: -15px;
}

.tombol {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    background-color: #09839b;
    margin-top: 15px;
}

.tombol:hover {
    background-color: #ed6e53;
    color: #ffffff;
}

.judulsl2,
.judulsl1,
.tombol {
    opacity: 0;
    transform: translate(200px, 0);
    z-index: 1;
}

.judulsl2 {
    transition: 1s;
}

.judulsl1 {
    transition: 1.5s;
}

.tombol {
    transition: 0.5s;
}

.judulsl2.jmuncul,
.judulsl1.jmuncul,
.tombol.jmuncul {
    opacity: 1;
    transform: translate(0, 0);
}

/* FORM KREDIT */
.judulForm {
    font-size: 25px;
    color: #09839b;
    margin-bottom: 70px;
}

.tombolAjukan {
    font-size: 16px;
    color: #ffffff;
    background-color: #09839b;
    margin-top: 15px;
}

.tombolAjukan:hover {
    background-color: #ed6e53;
}

/* isi produk */
.ProdukKami {
    font-family: "Poppins", sans-serif;
    padding-top: 150px;
    margin-bottom: 70px;
}

.ProdukKami .title {
    font-size: 35px;
    color: #ed6e53;
    font-weight: 700;
    margin-bottom: 75px;
}

.gambarproduk {
    width: 75px;
    object-fit: cover;
    margin-bottom: 35px;
}

.produktitleisi {
    font-size: 30px;
    color: #09839b;
}

.keunggulantitle {
    font-weight: 700;
    color: #09839b;
}

.gambarMultiguna {
    opacity: 0;
    transition: 1s;
    transform: translate(0, 50px);
}

.gambarMultiguna.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.textMultiguna {
    opacity: 0;
    transition: 1s;
    transform: translate(0, 50px);
}

.textMultiguna.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.gambarBLoan {
    opacity: 0;
    transition: 1s;
    transform: translate(0, 50px);
}

.gambarBLoan.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.textBLoan {
    opacity: 0;
    transition: 1s;
    transform: translate(0, 50px);
}

.textBLoan.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.gambarModalKerja {
    opacity: 0;
    transition: 1s;
    transform: translate(0, 50px);
}

.gambarModalKerja.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.textModalKerja {
    opacity: 0;
    transition: 1s;
    transform: translate(0, 50px);
}

.textModalKerja.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

/* DEPOSITO */
.deposito {
    font-family: "Poppins", sans-serif;
    padding-top: 100px;
    background-color: #f6f8fd;
}

/* BERHASIL */
.cardBerhasilKredit {
    height: 451px;
    background-image: url("../images/suksesKredit.jpg");
}

.cardBerhasilDeposito {
    height: 451px;
    background-image: url("../images/suksesDeposito.jpg");
}

.animIn {
    opacity: 0;
    transition: var(--times);
    transform: translate(-50px, 0);
}

.animIn.muncul {
    opacity: 1;
    transform: translate(0, 0);
}
/* FOOTER */
.footerLestari {
    line-height: 1.5;
    min-height: 200px;
    background-color: #09839b;
}

.footerLestari img {
    width: 100%;
}

.butuhBantuan img {
    width: 75%;
}

/* COMPONENTS */
.expandViews {
    background-color: #ffffff;
    transition: 1s;
    color: #09839b;
}

.expandViewsBody li {
    font-size: 14px;
}

.expandViews:hover {
    background-color: #09839b;
    color: #ffffff;
    cursor: pointer;
}

.floatButton {
    width: 60px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    transition: 0.2s;
}

.floatButton:hover{
    width: 63px;
}


/* MEDIA KECIL */

@media (max-width: 768px) {
    .nav-item {
        padding-top: 10px;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .slide1 .judulsl1 {
        font-size: 25px;
        font-weight: 900;
        color: #ed6e53;
        margin-bottom: -15px;
        margin-top: -15px;
        padding-bottom: -15px;
        padding-top: -15px;
    }

    .slide1 .judulsl2 {
        font-size: 25px;
        font-weight: 900;
        color: #09839b;
        margin-bottom: -15px;
        padding-bottom: -15px;
        padding-top: -15px;
        margin-top: -15px;
    }

    .slide2 .judulsl1 {
        font-size: 25px;
        font-weight: 900;
        color: #ed6e53;
        margin-bottom: -15px;
        margin-top: -15px;
        padding-bottom: -15px;
        padding-top: -15px;
    }

    .slide2 .judulsl2 {
        font-size: 25px;
        font-weight: 900;
        color: #09839b;
        margin-bottom: -15px;
        padding-bottom: -15px;
        padding-top: -15px;
        margin-top: -15px;
    }

    .tombol {
        font-size: 10px;
        font-weight: 900;
        color: #ffffff;
        background-color: #09839b;
        margin-top: 15px;
    }

    .ProdukKami {
        font-family: "Poppins", sans-serif;
        padding-top: 0;
        margin-bottom: 70px;
    }

    .multiple-items .slide1 {
        background-image: url("../images/slide1.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }

    .multiple-items .slide2 {
        background-image: url("../images/slide2.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }

    .ProdukKami .title {
        font-size: 25px;
        color: #ed6e53;
        font-weight: 700;
        margin-bottom: 55px;
    }

    .produktitleisi {
        font-size: 20px;
        color: #09839b;
    }

    .keunggulantitle {
        font-weight: 700;
        color: #09839b;
    }

    .gambarMultiguna {
        opacity: 1;
        transition: 1s;
        transform: translate(0, 0);
    }

    .textMultiguna {
        opacity: 1;
        transition: 1s;
        transform: translate(0, 0);
    }

    .suksesKredit p {
        font-size: 10px;
        padding-left: 10px;
    }

    .suksesKredit table {
        margin-left: 10px;
    }

    /* COMPONENTS */
    .expandViews {
        background-color: #ffffff;
        transition: 1s;
        color: #09839b;
    }

    .expandView:hover {
        background-color: #09839b;
        color: #ffffff;
    }
}
